<ion-content>
  <ion-buttons>
    <ion-back-button defaultHref="/"></ion-back-button>
  </ion-buttons>

  <!-- Cabecera del personaje -->
  <div class="character-header">
    <img [src]="personaje?.image" alt="{{ personaje?.name }}">
    <h1>{{ personaje?.name }}</h1>
  </div>

  <!-- Pestañas de estadísticas -->
  <div class="stats-tabs">
    <ion-segment [value]="segmentValue" (ionChange)="segmentChanged($event)">
      <ion-segment-button *ngFor="let option of segmentOptions" [value]="option.value">
        <ion-label>{{ option.label }}</ion-label>
      </ion-segment-button>
    </ion-segment>
  </div>

  <!-- Estadísticas 1 -->
  <div class="stats-grid" *ngIf="segmentValue.startsWith('stats1')">
    <div class="stats-column">
      <div class="stat-item">
        <h3>Fuerza</h3>
        <div class="custom-progress-bar">
          <div *ngFor="let block of getBlocks(personaje.stats.fuerza, 10)" [class.filled]="block" class="progress-block"></div>
        </div>
 
      </div>

      <div class="stat-item">
        <h3>Destreza</h3>
        <div class="custom-progress-bar">
          <div *ngFor="let block of getBlocks(personaje.stats.destreza, 10)" [class.filled]="block" class="progress-block"></div>
        </div>

      </div>

      <div class="stat-item">
        <h3>Constitución</h3>
        <div class="custom-progress-bar">
          <div *ngFor="let block of getBlocks(personaje.stats.constitucion, 10)" [class.filled]="block" class="progress-block"></div>
        </div>

      </div>
    </div>

    <div class="stats-column">
      <div class="stat-item">
        <h3>Sabiduría</h3>
        <div class="custom-progress-bar">
          <div *ngFor="let block of getBlocks(personaje.stats.sabiduria, 10)" [class.filled]="block" class="progress-block"></div>
        </div>

      </div>

      <div class="stat-item">
        <h3>Inteligencia</h3>
        <div class="custom-progress-bar">
          <div *ngFor="let block of getBlocks(personaje.stats.inteligencia, 10)" [class.filled]="block" class="progress-block"></div>
        </div>

      </div>

      <div class="stat-item">
        <h3>Apariencia</h3>
        <div class="custom-progress-bar">
          <div *ngFor="let block of getBlocks(personaje.stats.apariencia, 10)" [class.filled]="block" class="progress-block"></div>
        </div>

      </div>
    </div>
  </div>

  <!-- Estadísticas 2 -->
  <div class="stats-grid" *ngIf="segmentValue.startsWith('stats2')">
    <div class="stats-column">
      <div class="stat-item">
        <h3>Estamina</h3>
        <div class="custom-progress-bar">
          <div *ngFor="let block of getBlocks(personaje.stats.estamina, 10)" [class.filled]="block" class="progress-block"></div>
        </div>

      </div>

      <div class="stat-item">
        <h3>Balance</h3>
        <div class="custom-progress-bar">
          <div *ngFor="let block of getBlocks(personaje.stats.balance, 10)" [class.filled]="block" class="progress-block"></div>
        </div>

      </div>

      <div class="stat-item">
        <h3>Resistencia</h3>
        <div class="custom-progress-bar">
          <div *ngFor="let block of getBlocks(personaje.stats.resistencia, 10)" [class.filled]="block" class="progress-block"></div>
        </div>

      </div>
    </div>

    <div class="stats-column">
      <div class="stat-item">
        <h3>Conocimiento</h3>
        <div class="custom-progress-bar">
          <div *ngFor="let block of getBlocks(personaje.stats.conocimiento, 10)" [class.filled]="block" class="progress-block"></div>
        </div>

      </div>

      <div class="stat-item">
        <h3>F. voluntad</h3>
        <div class="custom-progress-bar">
          <div *ngFor="let block of getBlocks(personaje.stats.fuerzavoluntad, 10)" [class.filled]="block" class="progress-block"></div>
        </div>

      </div>

      <div class="stat-item">
        <h3>Carisma</h3>
        <div class="custom-progress-bar">
          <div *ngFor="let block of getBlocks(personaje.stats.carisma, 10)" [class.filled]="block" class="progress-block"></div>
        </div>

      </div>
    </div>
  </div>

  <!-- Estadísticas 3 -->
  <div class="stats-grid" *ngIf="segmentValue.startsWith('stats3')">
    <div class="stats-column">
      <div class="stat-item">
        <h3>Musculatura</h3>
        <div class="custom-progress-bar">
          <div *ngFor="let block of getBlocks(personaje.stats.musculatura, 10)" [class.filled]="block" class="progress-block"></div>
        </div>

      </div>

      <div class="stat-item">
        <h3>Punteria</h3>
        <div class="custom-progress-bar">
          <div *ngFor="let block of getBlocks(personaje.stats.punteria, 10)" [class.filled]="block" class="progress-block"></div>
        </div>

      </div>

      <div class="stat-item">
        <h3>Salud</h3>
        <div class="custom-progress-bar">
          <div *ngFor="let block of getBlocks(personaje.stats.salud, 10)" [class.filled]="block" class="progress-block"></div>
        </div>

      </div>
    </div>

    <div class="stats-column">
      <div class="stat-item">
        <h3>Logica</h3>
        <div class="custom-progress-bar">
          <div *ngFor="let block of getBlocks(personaje.stats.logica, 10)" [class.filled]="block" class="progress-block"></div>
        </div>

      </div>

      <div class="stat-item">
        <h3>Intuicion</h3>
        <div class="custom-progress-bar">
          <div *ngFor="let block of getBlocks(personaje.stats.intuicion, 10)" [class.filled]="block" class="progress-block"></div>
        </div>

      </div>

      <div class="stat-item">
        <h3>Verborrea</h3>
        <div class="custom-progress-bar">
          <div *ngFor="let block of getBlocks(personaje.stats.verborrea, 10)" [class.filled]="block" class="progress-block"></div>
        </div>

      </div>
    </div>
  </div>

  <div *ngIf="segmentValue === 'objetos'">
    <p>Contenido de Objetos</p>
    
    <h1>Personajes conocidos</h1>
    <p>...</p>
  </div>
</ion-content>
