/* Aplica el degradado en todo el fondo, de negro (abajo) a morado (arriba) */
ion-content {
  --background: linear-gradient(to top, #000000, #3E065F);
  display: flex;
  justify-content: center;
  background-color: #ffffff;
  color: white;
  text-align: center;
  padding: 0;
  position: relative;
  width: 375px;
  height: 812px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  
}


/* Estilos para los componentes */
.app-container {
  width: 375px;
  height: 812px;
  margin: 0 auto;
  border-radius: 10px;
}

.header-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  color: white;
}

.user-info h2 {
  font-size: 1.5em;
  color: white;
}

.user-info p {
  font-size: 1em;
  color: #ccc; /* Color gris claro para los subtítulos */
}

.add-button {
  --background: transparent;
  --border-color: #fff;
  --color: #fff;
}

ion-searchbar {
  --background: #4b165f; /* Color del fondo del searchbar */
  --color: white;
}

ion-list {
  margin-top: 10px;
}

ion-item {
  --background: transparent; /* Fondo semi-transparente para los items */
  border-radius: 10px;
  margin-bottom: 10px;
  color: white;
}

ion-label h2 {
  font-size: 1.2em;
  color: white;
}



ion-avatar img {
  border-radius: 50%;
}

ion-toolbar {
  --background: #6200ea;
}
