

<ion-content class="crear-usuario-content">
  <h2>Crear Cuenta</h2>
  
  
    <!-- Campo de Nombre de Usuario -->
    <ion-item class="custom-item">
      <ion-label position="floating">Nombre de Usuario</ion-label>
      <br>
      <ion-input type="text" placeholder="Ingrese su nombre de usuario"></ion-input>
    </ion-item>

    <!-- Campo de Contraseña -->
    <ion-item class="custom-item">
      <ion-label position="floating">Contraseña</ion-label>
      <br>
      <ion-input type="password" placeholder="Ingrese su contraseña"></ion-input>
    </ion-item>

    <!-- Campo de Confirmar Contraseña -->
    <ion-item class="custom-item">
      <ion-label position="floating">Confirmar Contraseña</ion-label>
      <br>
      <ion-input type="password" placeholder="Confirme su contraseña"></ion-input>
    </ion-item>
 

  <!-- Botón Crear -->
  <div class="crear-boton-container">
    <ion-button expand="full" class="crear-boton" [routerLink]="['/page-3']">Crear</ion-button>
  </div>
</ion-content>
