<ion-content>
    <ion-buttons>
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
  
    <div class="create-character">
      <h2>Crea tu Personaje</h2>
  
      <ion-item>
        <ion-label position="floating">Nombre</ion-label>
        <br>
        <ion-input [(ngModel)]="nuevoPersonaje.nombre" placeholder="Ingrese el nombre"></ion-input>
      </ion-item>
  
      <div class="file-upload">
        <h3>Selecciona Foto</h3>
        <input type="file" accept="image/*" (change)="onFileSelected($event)" />
        <div *ngIf="selectedImage" class="preview">
          <h4>Vista Previa:</h4>
          <img [src]="selectedImage" alt="Imagen seleccionada" />
        </div>
      </div>
      <br>
  
      <ion-button expand="full" (click)="crearPersonaje()">Crear Personaje</ion-button>
    </div>
  </ion-content>
  