<ion-header>
  <ion-toolbar>
    <ion-title>Productos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Primera categoría -->
  <h2>Categoría 1</h2>
  <div class="vertical-scroll">
    <ion-row>
      <ion-col size="1px" *ngFor="let producto of categoria1">
        <ion-card>
          <img [src]="producto.image" alt="Imagen del producto" />
          <ion-card-header>
            <ion-card-title>{{ producto.title }}</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <p><strong>Precio:</strong> ${{ producto.price }}</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </div>
</ion-content>

<ion-content>
  <!-- Segunda categoría -->
  <h2>Categoría 2</h2>
  <div class="horizontal-scroll">
    <ion-row>
      <ion-col size="auto" *ngFor="let producto of categoria2">
        <ion-card>
          <img [src]="producto.image" alt="Imagen del producto" />
          <ion-card-header>
            <ion-card-title>{{ producto.title }}</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <p><strong>Precio:</strong> ${{ producto.price }}</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </div>
</ion-content>