
<ion-header [translucent]="true">
  
</ion-header>

<ion-content class="content">
  <img src="assets/img/Union.png">
  <div class="image-container">
    <img src="assets/img/caballerooscuro.png" alt="Guerrero Oscuro" />
  </div>

  <div class="text-container">
    <h1>Despierta Tus Recuerdos y Salva El Reino De Las Sombras</h1>
    <p>Moldea a tus personajes a voluntad y graba su destino en una historia oscura.</p>
  </div>
  
    <ion-button shape="round " class="action-button" routerLink="/page-2">Empieza La Aventura</ion-button>
  
</ion-content>
