.horizontal-scroll {
  display: flex;
  overflow-x: auto; /* Permite el desplazamiento horizontal */
  padding: 10px 0; /* Espaciado vertical */
}

.horizontal-scroll ion-row {
  display: flex; /* Asegura que los elementos se alineen en una fila */
}

.horizontal-scroll ion-col {
  flex: 0 0 auto; /* Evita que las columnas se expandan y permite que se alineen horizontalmente */
  margin-right: 10px; /* Espacio entre los productos */
}

ion-card {
  width: 150px; /* Ajusta el ancho según sea necesario */
}